h1 {
	position: absolute;
	font-family: 'Raleway';
	font-size: 30px;
	left: 100px;
	top: -15px;
	font-weight: 900;
	color: rgb( 194, 99, 10);
}

h2 {
	position: absolute;
	font-family: 'Raleway';
	font-size: 80px;
	left: 30px;
	top: -60px;
	font-weight: 900;
	color: rgb( 242, 135, 5);
}

.relative-image {
	position: relative;
	width: 400px;
	height: 300px;
	top: 200px;
	margin-bottom: 15px;
	margin-right: 12px;
	display: inline-block;
	background-color: rgb( 191, 162, 136) 
}

.mount1 {
	background-image: url("mountain 1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount1:hover {
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.mount2 {
	background-image: url("mountain 2.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount2:hover {
	top: -340px;
	left:10px;
	right: -50px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.mount3 {
	background-image: url("mountain 3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount3:hover {
	transform: scale(4);
	left: -200px;
}

.mount4 {
	background-image: url("mountain 4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount4:hover {
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}
.mount5 {
	background-image: url("mountain 5 stream.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount5:hover {
	top: -340px;
	left:10px;
	right: -50px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.mount6 {
	background-image: url("mountain 6-dusk.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount6:hover {
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.mount7 {
	background-image: url("mountains 7-night.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount7:hover {
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.mount8 {
	background-image: url("mountain 8-goat.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount8:hover {
	top: -340px;
	left:10px;
	right: -50px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}


.mount9 {
	background-image: url("mountain 9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s ease-in-out;
}
.mount9:hover {
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	height: 1000px;
	width: 1650px;
}

.box {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 60px;
	background-color: rgb(191, 162, 136)
}

.smallbox {
	position: absolute;
	top: 0;
	right: 410px;
	width: 100px;
	height: 60px;
	background-color: rgb(191, 162, 136)
}

.mount {
	position: absolute;
	top: 5px;
	right: 30px;
}

.tree {
	position: absolute;
	top: 10px;
	right: 190px;
}

.wave {
	position: absolute;
	top: 5px;
	right: 310px;
}

.world {
	position: absolute;
	top: 5px;
	right: 435px;
}