.numb1 {
	position: absolute;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
	top: 480px;
	left: 20px;
	transition: all 1s ease-in-out;
}

.numb2 {
	position: absolute;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
	top: 480px;
	left: 580px;
	transition: all 2s ease-in-out
}

.numb3 {
	position: absolute;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
	top: 480px;
	left: 1140px;
}

.title {
	position: absolute;
	background-image: url("title.png");
	background-size: auto;
	background-position:center;
	background-repeat: no-repeat;
	left: 180px;
	top: 100px;
	width: 1200px;
	height: 400px;
}


.box {
	position: absolute;
	top: 0;
	right: 0;
	width: 1800px;
	height: 60px;
	background-color: rgb(191, 162, 136)
}

.tree {
	position: absolute;
	top: 10px;
	right: 190px;
}

.mount {
	position: absolute;
	top: 5px;
	right: 30px;
}

.mount:hover {
	position: absolute;
	background-image: url("mountain o.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;

}

.tree:hover {
	position: absolute;
	background-image: url("jungle o.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.wave {
	position: absolute;
	top: 5px;
	right: 310px;
}
.wave:hover {
	position: absolute;
	background-image: url("wave o.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.world {
	position: absolute;
	top: 5px;
	left: 50px;
}

.world:hover {
	position: absolute;
	background-image: url("world o.png");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}