body {
	background-color: rgb( 101, 114, 101);
}
.box1 {
	position: absolute;
	top: 55px;
	left: 760px;
	width: 120px;
	height: 40px;
	border-radius: 15px;
	background-color: rgb( 101, 114, 101);
	opacity: 0;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: Helvetica;
}

.second {
	position: absolute;
	top: 150px;
	right: 230px;
	width: 30px;
	height: 500px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
 	background-size: contain;
  	background-position: center center;  
  	background-repeat: no-repeat;
  	animation-name: anim1;
  	animation-timing-function: linear;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
}

.second2 {
	position: absolute;
	top: 0px;
	right: 60px;
	width: 30px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
 	background-size: contain;
  	background-position: center center;  
  	background-repeat: no-repeat;
  	animation-name: anim1;
  	animation-timing-function: linear;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-delay: .5s;
}

.second3 {
	position: absolute;
	top: 0px;
	right: 60px;
	width: 30px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
 	background-size: contain;
  	background-position: center center;  
  	background-repeat: no-repeat;
  	animation-name: anim1;
    	animation-timing-function: linear;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	 animation-delay: .8s;

}

.second4 {
	position: absolute;
	top: 0px;
	right: 60px;
	width: 30px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
 	background-size: contain;
  	background-position: center center;  
  	background-repeat: no-repeat;
  	animation-name: anim1;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
   	animation-delay: 1.2s;

}

.second5 {
	position: absolute;
	top: 0px;
	right: 60px;
	width: 30px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
 	background-size: contain;
  	background-position: center center;  
  	background-repeat: no-repeat;
  	animation-name: anim1;
  	animation-timing-function: linear;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-delay: 1.5s;

}

.min1 {
	position: absolute;
	top: 0px;
	right: 230px;
	width: 80px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
  	background-repeat: no-repeat;
  	animation-name: anim1;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
}

.min2 {
	position: absolute;
	top: 0px;
	right: 110px;
	width: 80px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
  	animation-name: anim1;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	animation-delay: 2s;
}

.min3 {
	position: absolute;
	top: 0px;
	right: 110px;
	width: 80px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
  	animation-name: anim1;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	animation-delay: 4s;
}

.hour1 {
	position: absolute;
	top: 0px;
	right: 270px;
	width: 160px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
  	animation-name: anim1;
  	animation-duration: 10s;
  	animation-iteration-count: infinite;
}

.hour2 {
	position: absolute;
	top: 0px;
	right: 190px;
	width: 160px;
	height: 500px;
	margin-bottom: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb( 67,78,69);
  	animation-name: anim1;
  	animation-duration: 10s;
  	animation-iteration-count: infinite;
  	animation-delay: 5s;
}

.line {
	position: absolute;
	top: 730px;
	right: 95px;
	left: -10px;
	width: 1370px;
	height: 2px;
	background-color: rgb( 49, 56, 49)
}

@keyframes anim1 {
	0% {
	background-color: transparent;
	}
	50% {
	background-color: rgb( 67,78,69);
	}
	100% {
		background-color: transparent;
	}
}

.second.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-duration: .5s;
}
.second2.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: .5s;
	animation-duration: .5s;
}
.second3.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-duration: .5s;
}
.second4.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 1.5s;
	animation-duration: .5s;
}
.second5.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-duration: .5s;
}
body.alarm {
	background-color: rgb( 44,51,45);
	animation-timing-function: linear;

}
.min1.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 2.5s;
	animation-duration: .5s;
}
.min2.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 3s;
	animation-duration: .5s;
}
.min3.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 3.5s;
	animation-duration: .5s;
}
.hour1.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 4s;	
	animation-duration: .5s;
}
.hour2.alarm {
	animation-name: spinalarm;
	animation-timing-function: linear;
	animation-delay: 4.5s;
	animation-duration: .5s;
}
.box1.alarm {
	opacity: 1;
}
.line.alarm {
	animation-name: spinalarm;
	background-color: black;
}
@keyframes spinalarm {
	0% {
		height: 500px;
		background-color: rgb( 239, 236, 129);
		outline-color: rgb( 239, 236, 129);
	}
	50% {
		height: 730px;
		background-color: transparent;
		outline-color: rgb( 239, 236, 129);
	}
	100% {
		height: 500px;
		background-color: rgb( 239, 236, 129);
		outline-color: rgb( 239, 236, 129);
	}
}
